@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP",'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main,
main>div {
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.mainte-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
}

.mainte-card p {
  font-size: 0.75rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #1155cc;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(17, 85, 204, 0.30);
  font-size: 0.75rem;
  justify-content: center;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #0a4599;
}

.btn-secondary {
  background-color: transparent;
  color: #1155cc;
  border: #1155cc 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  justify-content: center;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #1156cc26;
}

.mainte-time h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

@media (width < 560px) {
  .card-links {
    display: none;
  }
}